version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d app"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    restart: always

  init_db:
    build:
      context: .
      dockerfile: ./app/init_db.Dockerfile
    container_name: init_db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=app
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  app:
    build:
      context: ./app
    container_name: app
    ports:
      - "5000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=app
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      init_db:
        condition: service_completed_successfully
      redis:
        condition: service_started

volumes:
  db_data: