services:
  flask_app:
    container_name: flask_app
    build: ./flask
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=flask_db
    depends_on:
      flask_db:
        condition: service_healthy
  flask_db:
    container_name: flask_db
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=ping_db
    volumes:
      - pgdata:/var/lib/postgresql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:      
      test: ["CMD-SHELL", "pg_isready -U postgres -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 10s

volumes:
  pgdata: {}

