services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always

  db_init:
    build:
      context: .
      dockerfile: db_init/Dockerfile
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: app
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
    depends_on:
      - db

  app:
    build: .
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: app
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "5000:5000"
    depends_on:
      db_init:
        condition: service_completed_successfully
      redis:
        condition: service_started

volumes:
  db_data:
