version: '3.8'


services:

  web:
    build: . 
    ports:
      - "5000:5000"  
    environment:
      - DB_HOST=db 
      - DB_NAME=users_db 
      - DB_USER=user 
      - DB_PASSWORD=password 
    depends_on:
      - db  



  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=users_db 
      - POSTGRES_USER=user 
      - POSTGRES_PASSWORD=password 
    volumes:
      - postgres_data:/var/lib/postgresql/data




volumes:
  postgres_data:
