services:
  webserver:
    build: ./webserver
    container_name: webserver
    ports:
      - "5000:8000"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    depends_on:
      - db

  db:
    image: postgres:18
    container_name: postgres
    environment:
      POSTGRES_DB: posdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - ./db_data:/var/lib/postgresql
