version: '3.8'

services:

  web:
    build: . 
    ports:
      - "5000:5000"  
    environment:
      - DB_HOST=db 
      - DB_NAME=users_db 
      - DB_USER=user 
      - DB_PASSWORD=password 
    depends_on:
      db:
        condition: service_healthy


  db:
    image: postgres:14
    environment:
      - POSTGRES_DB=users_db 
      - POSTGRES_USER=user 
      - POSTGRES_PASSWORD=password 
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d users_db"]
      interval: 2s
      timeout: 2s
      retries: 20
      start_period: 30s

volumes:
  postgres_data:
