services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: visits_app_dev
    ports:
      - "5000:5000"
    environment:
      SERVER_PORT: "5000"
      DEV_MODE: "true"
      DB_HOST: localhost
      DB_PORT: "5432"
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: app
      DB_SSLMODE: disable
      REDIS_ADDR: localhost:6379
      REDIS_PASSWORD: ""

networks:
  app_network:
    driver: bridge

