version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: "123"
 
  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
   
  volumes:
    db_data:
