services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: prog
      POSTGRES_USER: proguser
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U proguser -d prog"]
      interval: 5s
      timeout: 5s

  dbinit:
    build:
      context: .
      dockerfile: Dockerfile.db
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: prog
      POSTGRES_USER: proguser
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy


  script:
    build:
      context: .
      dockerfile: Dockerfile.prog
    restart: unless-stopped
    ports:
      - 5000:8000
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: prog
      POSTGRES_USER: proguser
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
    depends_on:
      dbinit:
        condition: service_completed_successfully

volumes:
  postgres_data:
