services:
  pinpong:
    build: .
    ports:
      - "5000:5000"
    environment:
      HOST: db
      PORT: 5432
      DB_NAME: visits
      USER: cat
      PASSWORD: meow
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: visits
      POSTGRES_USER: cat
      POSTGRES_PASSWORD: meow
    volumes:
      - postgresdata:/var/lib/postgresql/data

volumes:
  postgresdata:
