name: Docker Compose Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test-compose:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start services
        run: docker compose up -d

      - name: Wait for web to be ready
        run: |
          timeout=60
          while ! curl -f http://localhost:5000 >/dev/null 2>&1; do
            ((timeout--))
            if [ $timeout -eq 0 ]; then
              echo "Web service failed to start"
              exit 1
            fi
            sleep 1
          done

      - name: Test web response
        run: |
          response=$(curl -s http://localhost:5000/ping)
          if [[ "$response" != "pong" ]]; then
            echo "Expected 'pong', got: $response"
            exit 1
          fi
          echo "Web test passed!"

      - name: Test PostgreSQL connection
        run: |
          docker compose exec -T db pg_isready -U user -d app

      - name: Test migrations to be completed successfully
        run: |
          exit_code=$(docker inspect simple-ping-visits-migration-1 --format='{{.State.ExitCode}}')
          if [[ $exit_code != 0 ]]; then
            echo "Expected 0, got: $exit_code"
            exit 1
          fi
          echo "Migration test passed!"

      - name: Test nginx cache
        run: |
          response=$(curl -s http://localhost:5000/ping)
          response=$(curl -s http://localhost:5000/visits)
          if [[ $response != 2 ]]; then
            echo "Expected 2, got: $response"
            exit 1
          fi
          response=$(curl -s http://localhost:5000/ping)
          response=$(curl -s http://localhost:5000/ping)
          response=$(curl -s http://localhost:5000/ping)
          response=$(curl -s http://localhost:5000/visits)
          if [[ $response != 2 ]]; then
            echo "Expected 2, got: $response"
            exit 1
          fi
          sleep 31
          response=$(curl -s http://localhost:5000/visits)
          if [[ $response != 5 ]]; then
            echo "Expected 5, got: $response"
            exit 1
          fi

      - name: Test PostgreSQL connection
        run: |
          coverage=$(sudo docker compose exec -T server uv run pytest --cov=. ./test.py | grep TOTAL | grep -oP "(\d+(\.\d+)?(?=%))")
          if [[ $coverage != "100" ]]; then
            echo "Expected coverage to be more than 60, got: $coverage"
            exit 1
          fi

      - name: Show logs on failure
        if: failure()
        run: docker compose logs
