name: Docker Compose Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test-compose:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start services
        run: docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d

      - name: Wait for web to be ready
        run: |
          timeout=60
          while ! curl -f http://localhost:5000 >/dev/null 2>&1; do
            ((timeout--))
            if [ $timeout -eq 0 ]; then
              echo "Web service failed to start"
              exit 1
            fi
            sleep 1
          done

      - name: init-db check
        run: |
          table_exists=$(docker compose exec -T db \
            psql -U user -d app -t -c "
            SELECT EXISTS (
              SELECT FROM information_schema.tables 
              WHERE table_schema = 'public' 
              AND table_name = 'visits'
            );" | xargs)
          
          if [[ "$table_exists" != "t" ]]; then
            echo "Table 'visits' was not created during initialization"
            exit 1
          fi
          echo "Init-db ended successfully -> db created"

      - name: Test web response
        run: |
          response=$(curl -s http://localhost:5000/ping)
          if [[ "$response" != "pong" ]]; then
            echo "Expected 'pong', got: $response"
            exit 1
          fi
          echo "Web test passed!"
      
      - name: Test prod mode
        run: |
          count=$(curl -s http://localhost:5000/visits)
          [[ "$count" == "1" ]] || { echo "Expected 1 visits, got $count"; exit 1; }

      - name: Test PostgreSQL connection
        run: |
          docker compose exec -T db pg_isready -U user -d app

      - name: Show logs on failure
        if: failure()
        run: docker compose logs
