name: Docker Compose Test

on:
  pull_request:
    branches: [ main ]
# on: push

jobs:
  test-compose:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start services
        run: docker compose up -d
      
      - name: Check initialization of DB
        run: |
          timeout=60
          while ! docker compose ps --filter status=exited | tail -n 1 | grep -o  "init_db.*Exited (0)"; do
            ((timeout--))
            if [ $timeout -eq 0 ]; then
              echo "Database initialization service failed to complete"
              exit 1
            fi
            sleep 1
          done
          echo "DB successfully initialized!"

      - name: Wait for web to be ready
        run: |
          timeout=60
          while ! curl -f http://localhost:5000 >/dev/null 2>&1; do
            ((timeout--))
            if [ $timeout -eq 0 ]; then
              echo "Web service failed to start"
              exit 1
            fi
            sleep 1
          done

      - name: Test web response
        run: |
          response=$(curl -s http://localhost:5000/ping)
          if [[ "$response" != "pong" ]]; then
            echo "Expected 'pong', got: $response"
            exit 1
          fi
          echo "Web test passed!"
      
      - name: Test /visits response
        run: |
          response=$(curl -s http://localhost:5000/visits)
          if [[ "$response" -lt 0 ]]; then
            echo "Expected visits to be non-negarive; got $response"
            exit 1
          fi
          echo "/visits test passed!"

      - name: Test PostgreSQL connection
        run: |
          docker compose exec -T db pg_isready -U postgres -d pings_db
      
      - name: Test Redis connection
        run: |
          docker compose exec -T visits_cache redis-cli ping | grep -x "PONG"

      - name: Show logs on failure
        if: failure()
        run: docker compose logs
